{% extends "base.html" %}
{% block content %}
<strong><p class="border-bottom mb-4">FORECAST HISTORY:</p></strong>
{% for ocena_prognozy in lista_prognoz %}
<ul>
  <strong><li>Forecast create date: {{ ocena_prognozy.create_date }}</li></strong>
  <li>Gold price create date: {{ ocena_prognozy.create_gold_price }}</li>
  <li>Forecast gold price: {{ocena_prognozy.forecast}}</li>
  <li>Verification date: {{ocena_prognozy.ver_date}}</li>
  <li>Gold price verification date: {{ocena_prognozy.verificate_gold_price}}</li>
  <strong><li>Forecast verification: {{ocena_prognozy.result_of_verification}}, accuracy: {{ocena_prognozy.accuracy}} %</li></strong>
  <li>-------------------------</li>
</ul>
{% endfor %}
{% endblock %}